body {
    background-color: beige;
}

.calculator-case {
    height: 400px;
}

.calculator-display {
    background-color: #000000;
    color: lightgreen;
    text-shadow: 2px 2px 5px lightgreen;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.row-1 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.row-3 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.row-4 {
    display: flex;
    flex-direction: row;
    gap: 70px;
}